<section>
  <div>
    <h1> <%= @post.title %> by: <%= @post.author.name %> </h1>
    <p>Comments: <%= @post.comment_counter =%>, Likes: <%= @post.like_counter =%> </p>
  </div>
  <p> <%= @post.text =%> </p>
  <div>
      <% @post.comments.each do |comment| %>
        <ul>
          <li>
            <p><b><i> <%= comment.user.name %>: </i></b> <%= comment.text %> </p>
          </li>
        </ul>
      <% end %>
    </div>
</section>
